<div class="main">
  <mat-toolbar color="primary" class="header-nav">
    <button
      mat-icon-button
      class="example-icon"
      aria-label="Example icon-button with menu icon"
      (click)="sidenav.toggle()"
    >
      <mat-icon>menu</mat-icon>
    </button>
    <span>My App</span>
    <span class="header-nav-spacer"></span>
    <button
      mat-icon-button
      class="example-icon favorite-icon"
      aria-label="Example icon-button with heart icon"
    >
      <mat-icon>favorite</mat-icon>
    </button>
    <button
      mat-icon-button
      class="example-icon"
      aria-label="Example icon-button with share icon"
    >
      <mat-icon>share</mat-icon>
    </button>
  </mat-toolbar>
  <mat-sidenav-container class="side-nav-container" style="margin-top: 60px">
    <mat-sidenav #sidenav mode="side" opened>
      <div class="side-nav">
        <mat-nav-list role="list">
          <mat-list-item>
            <mat-icon class="sidenav-menu-icon" mat-list-icon>home</mat-icon>
            <div [ngClass]="isCollapse ? 'sidenav-menu-name' : ''">Home</div>
          </mat-list-item>
        </mat-nav-list>
        <div class="header-nav-spacer"></div>
        <mat-nav-list>
          <mat-divider></mat-divider>

          <mat-list-item>
            <!-- <ng-container
              *ngIf="isCollapse; then thenTemplate; else elseTemplate"
            ></ng-container>
            <ng-template #thenTemplate>
              <mat-icon class="sidenav-menu-icon" mat-list-icon
                >keyboard_double_arrow_right</mat-icon
              >
            </ng-template>
            <ng-template #elseTemplate>
              
            </ng-template> -->
            <div class="side-nav-collapse" (click)="onCollapse()">
              <ng-container
                *ngIf="isCollapse; then thenTemplate; else elseTemplate"
              ></ng-container>
              <ng-template #thenTemplate>
                <mat-icon class="sidenav-menu-icon" mat-list-icon
                  >keyboard_double_arrow_right</mat-icon
                >
              </ng-template>
              <ng-template #elseTemplate>
                <mat-icon class="sidenav-menu-icon" mat-list-icon
                  >keyboard_double_arrow_left</mat-icon
                >
              </ng-template>
              <div [ngClass]="isCollapse ? 'sidenav-menu-name' : ''">
                Collapse Sidebar
              </div>
            </div>
          </mat-list-item>
        </mat-nav-list>
      </div>
    </mat-sidenav>
    <mat-sidenav-content>
      demo

      <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
        <!-- This is the tree node template for leaf nodes -->
        <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
          <!-- use a disabled button to provide padding for tree leaf -->

          <button mat-icon-button disabled></button>
          {{ node.name }}
        </mat-tree-node>
        <mat-tree-node
          *matTreeNodeDef="let node; when: hasChild"
          matTreeNodePadding
        >
          <button
            mat-icon-button
            matTreeNodeToggle
            [attr.aria-label]="'Toggle ' + node.name"
          >
            <mat-icon class="mat-icon-rtl-mirror">
              {{
                treeControl.isExpanded(node) ? "expand_more" : "chevron_right"
              }}
            </mat-icon>
          </button>
          {{ node.name }}
        </mat-tree-node>
      </mat-tree>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
