.main {
  border: 2px solid red;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
}

.side-nav-container {
  border: 2px solid green;
  flex: 1;
}
.side-nav {
  display: flex;
  flex-direction: column;
  height: inherit;
  width: inherit;
}
.side-nav-collapse {
  display: flex;
  justify-content: center;
  align-items: center;
}
.sidenav-menu-name {
  display: none;
  visibility: hidden;
}
.test {
  border: 2px solid green;
  align-self: center;
}

.header-nav {
  border: 2px solid green;
  position: fixed;
  z-index: 1000;
}
.header-nav-spacer {
  flex: 1 1 auto;
}
